body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-container {
    background-color: wheat;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    padding: 20px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 2px;
}

.login-container button {
    background-color: rgb(65, 65, 201);
    color: orange;
    padding: 10px;
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

.register {
    text-align: center;
    margin-top: 15px;
}