body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #282c35;
  color: #fff;
}

header {
  height: 100px;
  background-color: #4caf50;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden
}

img {
    width: 100px;
    height: 100px;
}

.logo {
  position: absolute;
}

header h1 {
  padding-top: 30px;
  text-align: center;
  margin: 0;
}

.features {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: #333;
}

.features h2 {
  color: #4caf50;
}

.features ul {
  list-style-type: none;
  padding: 0;
}

.features li {
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

