body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #282c35;
    margin: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.registration-form {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 20vh;
}

.registration-form h1 {
    color: #4caf50;
    font-size: 35px;
}

.registration-form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.registration-form input {
    width: 100%;
    padding: 5px;
    height: 30px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #4caf50;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #333;
}

.password-container {
    position: relative;
    display: flex;
}

.password-input {
    flex: 1;
    padding: 20px;
}

.toggle-password-button {
    background-color: #45a020;
    color: #fff;
    height: 30px;
    width: 50px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.toggle-password-button:hover {
    background: #4caf50;
}

.register-button {
    background: #45a020;
    color: #fff;
    padding: 10px 18px;
    border: none;
    border-radius: 24px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    transition: background 1s ease;
}

.register-button:hover {
    background: #4caf50;
}