{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" , type="text/css" , href="{% static 'css/header.css' %}">
</head>

<body>

    <header>

        <div class="logo">
            <a href="/">
                <img src="{% static 'images/logo.png' %}" alt="App Logo">
            </a>
        </div>
        <div class="title">
            <h1>Python Analyzer</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </header>

</body>

</html>